In [2]:
print('hi')

hi

In [4]:
2 + 2

4

In [5]:
(2.1 + 2.2)

4.300000000000001

In [ ]:
2 + 2

In [5]:
food = 'spam'
if food == 'spam':
    print(food)

spam

In [24]:
def hello():
    print('Hello')
hello()

Hello

In [38]:
years = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]

def agewithyears(years):

   for x in years:
    return(2021 - x)

In [39]:
agewithyears(years)

22

In [80]:
#Q1
years = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
def agewithyears(years):
    age = []
    for x in years:
     age.append(2021 - x)
    return age

In [305]:
TrueFalse(years)

False

In [82]:
#Answer 1
agewithyears(years)

[22, 26, 16, 11, 14, 15, 27, 25, 42, 13]

In [83]:
#Q. 2 results should be [20, 24, 14, 12, 13, 25, 23, 11]
age = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

def removeminmax(age):
    age.remove(max(age))
    age.remove(min(age))
    return age

In [84]:
#Answer 2
removeminmax(age)

[20, 24, 14, 12, 13, 25, 23, 11]

In [169]:
#Q. 3 
List1 = [15, 13, 16, 18, 19, 10, 12 ]
List2 = [7, 13, 15, 20, 19, 18, 10, 16]

newlist = []
    

def showduplicates(List1, List2):
    
    for i in List1:
        if i in List2:
            newlist.append(i)
    return (newlist)

In [168]:
#Answer 3 should be [15,13,16,18,19,10]
showduplicates(List1, List2)

[15, 13, 16, 18, 19, 10]

In [3]:
    # Q.4 
    List3 = [15,13,16,18,19,15,10]

    otherlist = []

    def removeduplicates(List3):
        for x in List3:
            if x not in otherlist:
                otherlist.append(x)
        return (otherlist)

In [4]:
#Answer 4 [15,13,16,18,19,10]
removeduplicates(List3)

[15, 13, 16, 18, 19, 10]

In [302]:
#Q.5 
Checklist = [15,13,16,18,19,15,10]

def TrueFalse(x):
    for i in Checklist:
        if i == x:
           return(True)
        else: 
           return(False)

In [303]:
TrueFalse(12)

False