In [44]:
import pandas as pd
red_wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv', ';')

In [45]:
print(red_wine)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
...       ...      ...
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5
1598     11.0        6

[1599 rows x 12 columns]

In [47]:
print(red_wine.dtypes)

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [48]:
    red_wine['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [53]:
red_wine.loc[red_wine.quality>=8,:].iloc[0:20, :]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
267,7.9,0.35,0.46,3.6,0.078,15.0,37.0,0.99730,3.35,0.86,12.8,8
278,10.3,0.32,0.45,6.4,0.073,5.0,13.0,0.99760,3.23,0.82,12.6,8
390,5.6,0.85,0.05,1.4,0.045,12.0,88.0,0.99240,3.56,0.82,12.9,8
440,12.6,0.31,0.72,2.2,0.072,6.0,29.0,0.99870,2.88,0.82,9.8,8
455,11.3,0.62,0.67,5.2,0.086,6.0,19.0,0.99880,3.22,0.69,13.4,8
481,9.4,0.30,0.56,2.8,0.080,6.0,17.0,0.99640,3.15,0.92,11.7,8
495,10.7,0.35,0.53,2.6,0.070,5.0,16.0,0.99720,3.15,0.65,11.0,8
498,10.7,0.35,0.53,2.6,0.070,5.0,16.0,0.99720,3.15,0.65,11.0,8
588,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
828,7.8,0.57,0.09,2.3,0.065,34.0,45.0,0.99417,3.46,0.74,12.7,8
1061,9.1,0.40,0.50,1.8,0.071,7.0,16.0,0.99462,3.21,0.69,12.5,8
1090,10.0,0.26,0.54,1.9,0.083,42.0,74.0,0.99451,2.98,0.63,11.8,8
1120,7.9,0.54,0.34,2.5,0.076,8.0,17.0,0.99235,3.20,0.72,13.1,8
1202,8.6,0.42,0.39,1.8,0.068,6.0,12.0,0.99516,3.35,0.69,11.7,8
1269,5.5,0.49,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8
1403,7.2,0.33,0.33,1.7,0.061,3.0,13.0,0.99600,3.23,1.10,10.0,8
1449,7.2,0.38,0.31,2.0,0.056,15.0,29.0,0.99472,3.23,0.76,11.3,8
1549,7.4,0.36,0.30,1.8,0.074,17.0,24.0,0.99419,3.24,0.70,11.4,8

In [63]:
red_wine.loc[red_wine.==7,:].iloc[0:10, : ]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
7,7.3,0.650,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.0,7
8,7.8,0.580,0.02,2.0,0.073,9.0,18.0,0.99680,3.36,0.57,9.5,7
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.5,7
37,8.1,0.380,0.28,2.1,0.066,13.0,30.0,0.99680,3.23,0.73,9.7,7
62,7.5,0.520,0.16,1.9,0.085,12.0,35.0,0.99680,3.38,0.62,9.5,7
128,8.0,0.590,0.16,1.8,0.065,3.0,16.0,0.99620,3.42,0.92,10.5,7
198,5.4,0.835,0.08,1.2,0.046,13.0,93.0,0.99240,3.57,0.85,13.0,7
200,9.6,0.320,0.47,1.4,0.056,9.0,24.0,0.99695,3.22,0.82,10.3,7
205,12.8,0.300,0.74,2.6,0.095,9.0,28.0,0.99940,3.20,0.77,10.8,7
206,12.8,0.300,0.74,2.6,0.095,9.0,28.0,0.99940,3.20,0.77,10.8,7

In [64]:
red_wine.loc[red_wine.quality==4,:].iloc[0:10, : ]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
18,7.4,0.590,0.08,4.4,0.086,6.0,29.0,0.9974,3.38,0.50,9.0,4
38,5.7,1.130,0.09,1.5,0.172,7.0,19.0,0.9940,3.50,0.48,9.8,4
41,8.8,0.610,0.30,2.8,0.088,17.0,46.0,0.9976,3.26,0.51,9.3,4
45,4.6,0.520,0.15,2.1,0.054,8.0,65.0,0.9934,3.90,0.56,13.1,4
73,8.3,0.675,0.26,2.1,0.084,11.0,43.0,0.9976,3.31,0.53,9.2,4
79,8.3,0.625,0.20,1.5,0.080,27.0,119.0,0.9972,3.16,1.12,9.1,4
94,5.0,1.020,0.04,1.4,0.045,41.0,85.0,0.9938,3.75,0.48,10.5,4
151,9.2,0.520,1.00,3.4,0.610,32.0,69.0,0.9996,2.74,2.00,9.4,4
161,7.6,0.680,0.02,1.3,0.072,9.0,20.0,0.9965,3.17,1.08,9.2,4
167,7.3,0.550,0.03,1.6,0.072,17.0,42.0,0.9956,3.37,0.48,9.0,4

In [67]:
red_wine[(red_wine['volatile acidity'] >= 0.200)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [90]:
vol = red_wine[(red_wine['volatile acidity'] >= 0.395) & (red_wine['volatile acidity'] <= 0.400)]

In [91]:
print(vol).head(10)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
24              6.9             0.400         0.14            2.40      0.085
48              6.4             0.400         0.23            1.60      0.066
60              8.8             0.400         0.40            2.20      0.079
115             9.4             0.400         0.31            2.20      0.090
149             8.2             0.400         0.44            2.80      0.089
279             8.9             0.400         0.32            5.60      0.087
283             8.9             0.400         0.32            5.60      0.087
287             7.5             0.400         0.12            3.00      0.092
413             9.9             0.400         0.53            6.70      0.097
441            11.9             0.400         0.65            2.15      0.068
492             8.9             0.400         0.51            2.60      0.052
512            10.7             0.400         0.48            2.10      0.125
523             9.3             0.400         0.49            2.50      0.085
596            12.4             0.400         0.51            2.00      0.059
664            12.1             0.400         0.52            2.00      0.092
670             6.9             0.400         0.24            2.50      0.083
674            10.8             0.400         0.41            2.20      0.084
676            10.8             0.400         0.41            2.20      0.084
773             7.9             0.400         0.29            1.80      0.157
774             7.9             0.400         0.30            1.80      0.157
913             9.4             0.395         0.46            4.60      0.094
932             7.6             0.400         0.29            1.90      0.078
968             9.0             0.400         0.43            2.40      0.068
978             7.0             0.400         0.32            3.60      0.061
992             6.5             0.400         0.10            2.00      0.076
1061            9.1             0.400         0.50            1.80      0.071
1095            9.4             0.400         0.47            2.50      0.087
1114            5.0             0.400         0.50            4.30      0.046
1123           10.7             0.400         0.37            1.90      0.081
1140            7.3             0.400         0.30            1.70      0.080
1182           10.2             0.400         0.40            2.50      0.068
1190            9.1             0.400         0.57            4.60      0.080
1218            8.2             0.400         0.31            1.90      0.082
1242            9.0             0.400         0.41            2.00      0.058
1276            8.5             0.400         0.40            6.30      0.050
1292            5.9             0.395         0.13            2.40      0.056
1421            7.5             0.400         0.18            1.60      0.079
1433            6.1             0.400         0.16            1.80      0.069
1548           11.2             0.400         0.50            2.00      0.099

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
24                   21.0                  40.0  0.99680  3.43       0.63
48                    5.0                  12.0  0.99580  3.34       0.56
60                   19.0                  52.0  0.99800  3.44       0.64
115                  13.0                  62.0  0.99660  3.07       0.63
149                  11.0                  43.0  0.99750  3.53       0.61
279                  10.0                  47.0  0.99910  3.38       0.77
283                  10.0                  47.0  0.99910  3.38       0.77
287                  29.0                  53.0  0.99670  3.37       0.70
413                   6.0                  19.0  0.99860  3.27       0.82
441                   7.0                  27.0  0.99880  3.06       0.68
492                  13.0                  27.0  0.99500  3.32       0.90
512                  15.0                  49.0  0.99800  3.03       0.81
523                  38.0                 142.0  0.99780  3.22       0.55
596                   6.0                  24.0  0.99940  3.04       0.60
664                  15.0                  54.0  1.00000  3.03       0.66
670                  30.0                  45.0  0.99590  3.26       0.58
674                   7.0                  17.0  0.99840  3.08       0.67
676                   7.0                  17.0  0.99840  3.08       0.67
773                   1.0                  44.0  0.99730  3.30       0.92
774                   2.0                  45.0  0.99727  3.31       0.91
913                   3.0                  10.0  0.99639  3.27       0.64
932                  29.0                  66.0  0.99710  3.45       0.59
968                  29.0                  46.0  0.99430  3.20       0.60
978                   9.0                  29.0  0.99416  3.28       0.49
992                  30.0                  47.0  0.99554  3.36       0.48
1061                  7.0                  16.0  0.99462  3.21       0.69
1095                  6.0                  20.0  0.99772  3.15       0.50
1114                 29.0                  80.0  0.99020  3.49       0.66
1123                 17.0                  29.0  0.99674  3.12       0.65
1140                 33.0                  79.0  0.99690  3.41       0.65
1182                 41.0                  54.0  0.99754  3.38       0.86
1190                  6.0                  20.0  0.99652  3.28       0.57
1218                  8.0                  24.0  0.99600  3.24       0.69
1242                 15.0                  40.0  0.99414  3.22       0.60
1276                  3.0                  10.0  0.99566  3.28       0.56
1292                 14.0                  28.0  0.99362  3.62       0.67
1421                 24.0                  58.0  0.99650  3.34       0.58
1433                 11.0                  25.0  0.99550  3.42       0.74
1548                 19.0                  50.0  0.99783  3.10       0.58

      alcohol  quality
24        9.7        6
48        9.2        5
60        9.2        5
115      10.5        6
149      10.5        6
279      10.5        7
283      10.5        7
287      10.3        6
413      11.7        7
441      11.3        6
492      13.4        7
512       9.7        6
523       9.4        5
596       9.3        6
664      10.2        5
670      10.0        5
674       9.3        6
676       9.3        6
773       9.5        6
774       9.5        6
913      12.2        7
932       9.5        6
968      12.2        6
978      11.3        7
992       9.4        6
1061     12.5        8
1095     10.5        5
1114     13.6        6
1123     11.2        6
1140      9.5        6
1182     10.5        6
1190     12.5        6
1218     10.6        6
1242     12.2        6
1276     12.0        4
1292     12.4        6
1421      9.4        5
1433     10.1        7
1548     10.4        5

AttributeError: 'NoneType' object has no attribute 'head'

In [1]:
import pandas as pd
red_wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv', ';')

In [3]:
#create a new variable 'wine_type'

red_wine['wine_type'] = 'red'

In [5]:
white_wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv', ';')

In [7]:
##create a new variable 'wine_type'

white_wine['wine_type'] = 'white'

In [9]:
# bucket wine quality scores into qualitative quality labels

red_wine['quality_label'] = red_wine['quality'].apply(lambda value: 'low'
if value <= 5 else 'medium'
if value <= 7 else 'high')

In [10]:
red_wine['quality_label'] = pd.Categorical(red_wine['quality_label'],
categories=['low', 'medium', 'high'])

In [12]:
# bucket wine quality scores into qualitative quality labels 

white_wine['quality_label'] = white_wine['quality'].apply(lambda value: 'low'
if value <= 5 else 'medium'
if value <= 7 else 'high')

In [13]:
white_wine['quality_label'] = pd.Categorical(white_wine['quality_label'],
categories=['low', 'medium', 'high'])

In [15]:
#combine the two datasets into one - wines

wines = pd.concat([red_wine, white_wine])

In [16]:
# re-shuffle records just to randomize data points
wines = wines.sample(frac=1, random_state=42).reset_index(drop=True)